doctype html
html
    head
        //- Meta Tags
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="title", content=seo.title)
        meta(name="description", content=seo.description)
        meta(name="keywords", content=seo.getFormattedKeyWords())
        meta(name="image", content=seo.image)

        meta(property="og:type", content="website")
        meta(property="og:title", content=seo.title)
        meta(property="og:site_name", content=seo.title)
        meta(property="og:description", content=seo.description)
        meta(property="og:image", content=seo.image)
        meta(property="og:image:type", content="image/jpeg")
        meta(property="og:image:width", content="400")
        meta(property="og:image:height", content="400")
        meta(property="og:url", content="https://vinyguedess.github.io")
        meta(property="og:locale", content="pt_BR")

        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:title", content=seo.title)
        meta(name="twitter:description", content=seo.description)
        meta(name="twitter:image", content=seo.image)

        //- CSS Document
        <!--[if lte IE 8]><script src="/js/ie/html5shiv.js"></script><![endif]-->
        link(rel="stylesheet", href="/css/main.css", type="text/css")
        <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
        style(type="text/css").

            #projetos p { font-size: 20px; margin: 0; }
            #projetos hr { margin: 10px 0; }
            #projetos .tags { font-size: 15px; }
            #projetos .project-logo img { background: #F4F4F4; border-radius: 50%; width: 1.5em; height: 1.5em; }

        title= seo.title
    
    body

        //- Sidebar
        section#sidebar
            .inner
                nav
                    ul
                        li
                            a(href="#intro") Bem vindo
                        li
                            a(href="#projetos") Projetos e Freelas
                        li
                            a(href="#experiencias") Onde trabalhei
                        li
                            a(href="#contacts") Entre em contato

        //- Wrapper
        #wrapper
            //- Intro
            section#intro.wrapper.style1.fullscreen.fade-up
                .inner
                    h1= seo.title
                    p(style="font-size: 20px;")
                        | Engenheiro de software pós-graduado pela Universidade de 
                        | São Paulo, em constante aprendizado e crescimento.

                    h2 Conhecimentos
                    .features
                        each conhecimento in conhecimentos
                            section
                                span.icon.major(style="background-image: url(" + conhecimento.icon + "); background-size: 100% 100%; background-position: center center;")
                                h3= conhecimento.name
                                h5(title=conhecimento.grade)
                                    each g in [1, 2, 3, 4, 5]
                                        if conhecimento.grade >= g
                                            i.fa.fa-star
                                        else if conhecimento.grade < g && Math.ceil(conhecimento.grade) >= g
                                            i.fa.fa-star-half-o
                                        else
                                            i.fa.fa-star-o

                    ul.actions
                        li
                            a(href="#projetos").button.scrolly Saiba mais

            //- Projetos
            section#projetos.wrapper.style2.fullscreen.fade-up
                .inner
                    h2 Projetos e Freelas

                    .features
                        each projeto in projetos
                            section
                                span.icon.major(style="background-image: url(" + projeto.logo + "); background-size: 100% 100%; background-position: center center;")
                                h3= projeto.name
                                h4
                                    span.project-logo
                                        img(src=projeto.company.logo)
                                    | #{projeto.company.name}
                                p= projeto.description
                                hr
                                .tags
                                    div
                                        strong Tecnologias: 
                                        |  #{projeto.technologies.join(', ')}
                                    div
                                        strong Frameworks:
                                        |  #{projeto.frameworks.join(', ')}
                                    
            //- Onde trabalhei
            section#experiencias.wrapper.style3.fade-up
                .inner
                    h2 Onde trabalhei

                    .features
                        each exp in experiencias
                            section
                                span.icon.major(style="background-image: url(" + exp.logo + "); background-size: 100% 100%; background-position: center center;")
                                h3= exp.company
                                h5= exp.job
                                p= exp.description
                                hr
                                span
                                    | #{exp.date.start}
                                    if exp.date.end !== null
                                        |  à #{exp.date.end}
                                    else
                                        |  - Atualmente

            //- Section Three
            section#contacts.wrapper.style1.fade-up
                div.inner
                    h2 Entre em contato
                    p Se você gostou do meu trabalho e quer apostar na solução certa para o seu projeto entre em contato comigo.
                    
                    .split.style1
                        section
                            form(method="post", action="#")
                                .field.half.first
                                    label(for="name") Nome
                                    input#name(type="text", name="name")
                                
                                .field.half
                                    label(for="email") E-mail
                                    input#email(type="text", name="email")
                                
                                .field
                                    label(for="message") Mensagem
                                    textarea#message(name="message", rows="5")
                                
                                ul.actions
                                    li 
                                        a(href="").button.submit Enviar Mensagem

                        section
                            ul.contact
                                li
                                    h3 E-mail
                                    a(href="mailto:viniciusgued@gmail.com") viniciusgued@gmail.com
                                li
                                    h3 Celular
                                    span +55 (11) 96369-7352
                                li
                                    h3 Redes sociais
                                    ul.icons
                                        li
                                            a(href="https://github.com/vinyguedess", target="_blank").fa-github  
                                        li
                                            a(href="https://facebook.com/VinyGuedess", target="_blank").fa-facebook
                                        li
                                            a(href="https://twitter.com/Viny_Guedes", target="_blank").fa-twitter
                    
        //- Footer
        footer#footer.wrapper.style1-alt
            .inner
                ul.menu
                    li &copy; VinyGuedess. All rights reserved.

        //- Scripts
        script(src="/js/jquery.min.js")
        script(src="/js/jquery.scrollex.min.js")
        script(src="/js/jquery.scrolly.min.js")
        script(src="/js/skel.min.js")
        script(src="/js/util.js")
        <!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
        script(src="/js/main.js")
        script(type="text/javascript").
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-102748592-1', 'auto');
            ga('send', 'pageview');
